.generalDiv hr {
    margin-right: 5em;
    opacity: 0.25;
}

.bgImage {
    width: 250px; 
    height: auto; 
    filter: blur(8px);
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ribbonContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 25px;
    height: fit-content;
    margin: 5px 5em 5px 0;
}

.filmSessionsRibbonElement {
    display: flex;
    flex-direction: column;

    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: fit-content;
    padding: 20px;
}

.filmSessionsRibbonElement img {
    width: 150px;
    height: auto;
}

.rectangleButton {
    width: 50px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    transition: all 0.5s;
    z-index: 1;
    background-color: #f2f2f2;
}

.rectangleButton:hover {
    background-color: lightgray;
}

.left::before {
    content: "<";
    font-family: "bootstrap-icons";
    content: "\F22D";
}

.right::before {
    content: ">";
    font-family: "bootstrap-icons";
    content: "\F231";
}

.adminPageLink {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5px 7.5px 0 0;
    font-size: 24px;
    transition: 0.5s;
    &:hover {
        color: #aaaaaa;
    }
}   

.adminPageLink:hover::before {
    color: black;
    transition-delay: 3s;
    content: "Админская страница";
    position: absolute;
    right: 0px;
    top: 30px;
    min-width: 150px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    font-size: 14px;
    z-index: 10;
}

.carousel {
    display: flex;
    flex-direction: row;

    position: relative;
    top: 50px;
    width: 100%;
}

.carouselItem {
    position: relative;
    white-space: nowrap;
}

.comingSoonFilmsContainer {
    width: 67.5vw;
    margin: 30em 0 225px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comingSoonFilmsContainer img {
    border-radius: 15px;
}

.filmBackgroundImageDiv {
    width: 75%;
    height: 1250px;
    border-radius: 15px;
    opacity: 0.5;
    position: absolute;
    filter: blur(16px);
    transition: all 1s;
    z-index: -5;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.squareButton {
    width: 50px;
    height: 50px;
    border-radius: 5px;

    transition: all 0.5s;
    z-index: 1;
}

.squareButton:hover {
    background-color: white;
}