.container {
    display: flex;
    flex-direction: column;
}

.addSeat {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.addSeat:hover {
    cursor: pointer;
}

.basicSeat {
    background-color: #303030;
    color: white;
}

.VIPSeat {
    background-color: goldenrod;
}

.noSeat {
    background-color: #f2f2f2;
}

.span[data-descr] {
    position: relative;
}

.span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    right: 0px;
    top: 30px;
    min-width: 150px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    font-size: 14px;
    z-index: 1;
}

.addSection {
    background-color: white;
    margin: 25px;
    border: 1.5px solid rgba(48, 48, 48, 0.5);
}

.addSectionName {
    padding: 25px;
    width: 100%;
    border-bottom: 1.5px solid rgba(48, 48, 48, 0.5);
}

.addSectionForm {
    padding: 25px;
}

.addFilmSessionFormInputs {
    display: flex;
    flex-direction: row;
}

.addFilmSessionFormInputs div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.filmInputButton {
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s all;
}

.filmInputButton:hover {
    background-color: rgba(48, 48, 48, 0.25);
}