.NavBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
    position: fixed;
    width: 17.5em;
    height: 100%;
    border-right: 1px solid black;
  }
  
  .NavBar a {
    color: #1e1e1e;
    margin-left: 3em;
  }
  
  .NavBar a:hover {
    color: #5e5e5e;
    cursor: pointer;
  }
  
  .NavBar hr {
    width: 80%;
    align-self: center;
  }