.movieInfo {
    display: flex;
    position: relative;
    top: 5em;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: nowrap;
}

.movieInfo section {
    display: flex;
}

.imageLikeDiv {
    position: sticky;
    top: 5em;
    background-color: #2d2d2d;
    border-radius: 15px;
    width: 300px;
    height: 500px;
}

#poster {
    height: 300px;
    width: auto;
    max-width: fit-content;
    border-radius: 15px;
}

#infoSection {
    max-width: 35%;
    display: block;
    white-space: pre-line;
    flex-wrap: wrap;
}

#infoSection p {
    font-weight: bold;
}

#infoSection span {
    color: gray;
    margin-left: 5px;
}

#timeTable {
    display: flex;
    flex-direction: column;
    gap: 25px;

    position: sticky;
    top: 5em;

    background-color: #2d2d2d;
    color: white;
    border-radius: 15px;
    padding: 50px;
    transition: all 0.5s;
}

#timeTable a {
    border-radius: 5px;
    padding: 5px;
}

#timeTable a:hover {
    color: wheat;
    box-shadow: 0px 2.5px 7.5px rgba(255, 222, 173, 0.5);
}

.similarFilmsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.similarFilm {
    text-align: center;
}

.similarFilm img {
    height: 100%;
    max-height: 300px;
    min-height: 200px;
    width: auto;
    min-width: 125px;
    border-radius: 15px;
}