@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}

a {
  transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  font-size: revert;
  font-weight: revert;
}

select,
::picker(select) {
  appearance: base-select;
}

input, textarea, select {
  width: 75%;
  margin-top: 30px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  transition: all 0.05s;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(30, 30, 30, 0.55);
}

select::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  opacity: 0;
  transition: all 0.75s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

.grayButton{
  padding: 7.5px 5px 7.5px 5px;
  border-radius: 15px;
  color: #1e1e1e;
  transition: all 0.5s;
}

.grayButton:hover {
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.1);
}

.blackButton {
  padding: 7.5px 5px 7.5px 5px;
  border-radius: 15px;
  color: white;
  background-color: #1e1e1e;
  transition: all 0.5s;
}

.blackButton:hover {
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.75);
}

#likePoster {
  background-color: #2d2d2d;
  border-radius: 15px;
  width: 300px;
  height: 500px;
}
